composer.phar
compose.lock
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
.idea/
output/

php-diff-master/
resource/plan/youzan
resource/plan/zj
resource/plan/rustphp
resource/sql
src/util/diff

Would skip repository resource/themes/SB-Admin-BS4-Angular-2
